/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}
article, aside, figure, footer, header, nav, section { display: block }
body                    { font: 13px sans-serif; *font-size: small; *font: x-small; line-height: 1.22 }
table                   { font-size: inherit; font: 100% }
select, input, textarea { font: 99% sans-serif }
pre, code, kbd, samp    { font-family: monospace, sans-serif }

h1, h2 { font-weight: bold }
html  { -webkit-font-smoothing: antialiased }
a:hover, a:active, a { outline: none }
a:link            { -webkit-tap-highlight-color: #FF5E99 }
::-moz-selection{ background: #F400BF; color: #FFF; text-shadow: none }
::selection { background: #F400BF; color: #FFF; text-shadow: none }
.ie7 img    { -ms-interpolation-mode: bicubic }
ul { list-style-type: none; list-style-position: inside }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }
.clearfix { display: block; padding: 0 !important }
/* End reset */

a { cursor: pointer; display: inline-block; padding: 0 0.2em; background: #f9fda2; border-bottom: 1px solid rgba(0, 0, 0, 0.2) }
body      { background: #c0a987; font-family: "myriad-pro-condensed-1"; font-weight: 400 }
#wrapper  { width: 1100px; margin: 2em auto; padding: 0.2em; border: 3px #340f07 solid }
#wrapper > * { padding: 20px }
header, #intro { float: left; display: inline-block; height: 180px }
header    { width: 500px; background: #340f07 }
header h1 { position: relative; font-size: 7em; color: #f0db8a; font-family: "atrament-web-1"; background: transparent url(/img/arrow.png) no-repeat center right }
#arrow    { display: none }
.csstransforms #arrow { display: inline; position: absolute; right: -20px; font-family: Arial; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: (-45deg) }
header p  { font-size: 2em; color: #fff }
#intro    { width: 520px; font-size: 1.8em; color: #000; background: #ecd893 }
#intro p  { margin: 0.5em 0 }
#filters  { background: #000; color: #340f07; background: transparent url(/img/filters.png) no-repeat center top }
#filters ul li { float: left; margin-right: 5px; width: 250px; height: 200px }
#filters ul li h1  { font-size: 2.8em; font-family: "atrament-web-1" }
#filters ul li p   { font-size: 1.8em }